<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Costos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Centro de Costos</h1>
    <a href="{{ url_for('agregar_centro_costos') }}">Agregar Centro de Costos</a><br>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Departamento</th>
        </tr>
        {% for centro in centros %}
        <tr>
            <td>{{ centro.nombre }}</td>
            <td>{{ centro.departamento }}</td>
        </tr>
        {% endfor %}
    </table>   
</body>
</html>