<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cotizacion</title>
    <link rel='stylesheet' href='{{ url_for('static', filename='css/styles.css') }}'>
</head>
<body>
    <h1>Cotizacion</h1>
        <table class="cotizacion-table">
            <tr>
                <th>Cotizacion</th>
                <th>Valor</th>
            </tr>
            {% for cotizacion in cotizaciones %}
            <tr>
                <td>{{ cotizacion['cotizacion'] }}</td>
                <td>{{ cotizacion['valor'] }}</td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>