<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Control de Proveedores Iarsa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Control de Proveedores</h1>
    <a href="{{ url_for('agregar_fechapresupuesto') }}">Fecha presupuesto</a><br>
    <a href="{{ url_for('agregar_cotizacion') }}">Cotizacion</a><br>
    <a href="{{ url_for('agregar_centrodecosto') }}">Centro de costo</a><br>
    <a href="{{ url_for('agregar_productos') }}">Productos</a><br>
    <a href="{{ url_for('agregar_proveedores') }}">Proveedores</a><br>
    <a href="{{ url_for('fechapresupuesto') }}">Fecha presupuesto</a>
    <a href="{{ url_for('cotizacion') }}">Cotizacion</a>
    <a href="{{ url_for('centrodecosto') }}">Centro de costo</a>
    <a href="{{ url_for('productos') }}">Productos</a>
    <a href="{{ url_for('proveedores') }}">Proveedores</a>
</body>
</html>